<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #F1F5F9;
            color: #000;
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            font-size: 3rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
        }

        .container {
            background: #FFFFFF;
            padding: 30px;
            border-radius: 12px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>🔥 Bienvenido al servicio Flask de Control Biométrico</h1>
        <p>Servidor ejecutándose correctamente en Flask + Blueprints.</p>
    </div>
</body>

</html>